.visual__img {
  width: 100%;
  height: 100vh;
  background-image: url(../img/main/img_visual01.png);
  background-size: cover;
  background-attachment: fixed;
}
.visual__text {
  position: absolute;
  top: 280px;
  left: 13%;
}
.visual__text h2 {
  margin: 35px 0;
  font-size: 70px;
  font-weight: 500;
  color: #fff;
}
.visual__text h2::before {
  width: 60px;
  height: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ed1c24;
  content: "";
}
.visual__text p {
  font-size: 21px;
  color: #fff;
}
.visual__btn span {
  width: 30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  font-size: 30px;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 100%;
}

.business {
  width: 100%;
  text-align: center;
}
.business__text h2 {
  margin-bottom: 50px;
  font-size: 44px;
}
.business__text p {
  margin-bottom: 50px;
  color: #555555;
  position: relative;
}
.business__text p::before {
  position: absolute;
  left: 49%;
  top: -30px;
  width: 37px;
  height: 4px;
  background-color: #ed1c24;
  content: "";
}
.business__img {
  width: 100%;
  height: 420px;
  background-image: url(../img/main/img_business.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: center;
}
.business__img--list {
  display: flex;
  justify-content: center;
}
.business__img--list li {
  width: 240px;
  height: 420px;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0);
}
.business__img--list li a {
  display: block;
  width: 100%;
  height: 420px;
}
.business__img--list li p {
  padding-top: 100px;
  font-size: 24px;
  color: #fff;
}
.business__img--list li span {
  margin-top: 100px;
  font-size: 100px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
}
.business__img--list li:hover {
  background-color: #f48025;
}
.business__img--list li:hover span {
  opacity: 1;
}

.notice {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 480px;
  color: #fff;
  font-weight: 100;
}
.notice__left {
  width: 50%;
  background-color: #ed1c24;
}
.notice__left__text {
  margin-top: 45px;
  margin-right: 10%;
  margin-left: 40%;
}
.notice__left__text ul {
  margin-top: 45px;
}
.notice__left__text ul .top-box {
  border-top: 1px solid #fff;
}
.notice__left__text ul li {
  display: block;
  width: 400px;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.notice__left__text ul li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.notice__left__text ul li a p {
  color: #fff;
  display: block;
  width: 80%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice__left__text ul li a span {
  padding-left: 20px;
  border-left: 1px solid #fff;
}
.notice__right {
  width: 50%;
  background-color: #58595b;
}
.notice__right__text {
  margin-top: 45px;
  margin-right: 30%;
  margin-left: 10%;
}
.notice__right__text ul {
  margin-top: 45px;
}
.notice__right__text ul .top-box {
  border-top: 1px solid #fff;
}
.notice__right__text ul li {
  display: block;
  width: 400px;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.notice__right__text ul li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.notice__right__text ul li a p {
  color: #fff;
  display: block;
  width: 80%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice__right__text ul li a span {
  padding-left: 20px;
  border-left: 1px solid #fff;
}

.faq {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 360px;
}
.faq .box {
  padding: 30px 30px;
  height: 120px;
  width: 50%;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}
.faq .box h2 {
  font-size: 24px;
  margin-bottom: 40px;
}
.faq .box p {
  color: #555555;
}
.faq__faq {
  border-right: 1px solid rgb(219, 219, 219);
}
.faq__cs {
  border-left: 1px solid rgb(219, 219, 219);
}

.about {
  background-color: #fff;
  justify-content: center;
}
.about .about-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.about__text h2 {
  position: relative;
}
.about__text h2::after {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 37px;
  height: 5px;
  background: #ed1c24;
  content: "";
}
.about__text h3 {
  padding: 30px 0 10px 100px;
  font-size: 21px;
}
.about__text p {
  padding-left: 100px;
  font-size: 15px;
}
.about__img {
  padding: 40px;
}
.about__list {
  display: flex;
  justify-content: center;
  height: 300px;
}
.about__list ul li a span {
  font-size: 130px;
  margin: 20px 100px;
}
.about__list ul li a p {
  font-size: 20px;
  margin: 0 120px;
}